@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?65530221');
	src: /*url('../fonts/fontello.eot?65530221#iefix') format('embedded-opentype'),*/
		url('../fonts/fontello.woff2?65530221') format('woff2'),
		url('../fonts/fontello.woff?65530221') format('woff'),
		url('../fonts/fontello.ttf?65530221') format('truetype'),
		url('../fonts/fontello.svg?65530221#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	width: 13px;
	text-align: center;
	margin: 0 10px;
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-at:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */


* {
	box-sizing: border-box;
}

html {
	height: 100%	
}

body {
	font: 16px raleway, sans-serif;
	line-height: 1.5em;
	background-image: url('../pics/hattersz.png');
	background-attachment: fixed;
	margin: 25px 0 25px 0;
	height: 100%
}

.flag-icon-gb {
	background-image: url(../flags/4x3/gb.svg);
	width: 16px;
	height: 12px;
	margin-left: 5px
}

.flag-icon-hu {
	background-image: url(../flags/4x3/hu.svg);
	width: 16px;
	height: 12px;
	margin-left: 5px	
}

.flag-icon-pl {
	background-image: url(../flags/4x3/pl.svg);
	width: 16px;
	height: 12px;
	margin-left: 5px
}

.flags {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 5px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 95%;
	height: 100%
}

header {
/*	background: url(../pics/bori_fejlec3.png) center no-repeat;*/
	background-color: rgba(252,188,56,.6);
	padding: 5px 0;
	height: 150px;
	max-width: 1200px;
	border-top: 5px solid rgba(107,81,16,.8);
	border-bottom: 5px solid rgba(107,81,16,.8);
	box-shadow: 0 5px 10px rgba(0,0,0,.3)
}

.headerimage {
	display: block;
	margin: 2px auto;
}

@media (max-width: 1440px) {
	.headerimage {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 1248px) {
	header {
		height: auto;
		display: block;
	}
	.headerimage {
		max-width: 90%;
		display: block;
	}
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 1024px) {
	header {
		height: auto;
		display: block;
	}
	.headerimage {
		max-width: 90%;
		display: block;
	}
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 800px) {
	header {
		height: auto;
		display: block;
	}
	.headerimage {
		max-width: 90%;
		display: block;
	}
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 480px) {
	header {
		height: auto;
		display: block;
	}
	.headerimage {
		max-width: 90%;
		display: block;
	}
	.kepek {
		max-width: 90%;
		display: block;
	}
}

nav {
	display: flex;
	flex-direction: row;
/*	flex-wrap: no-wrap;*/
	align-items: center;
	justify-content: center;
	margin: 30px 0 45px 0;
}

@media (max-width: 480px) {
	nav {
		display: block;
		flex-direction: column;
	}
}

nav a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px 20px;
	border-bottom: 2px solid rgba(234,197,30,1);
	color: rgba(102,0,0,1);
	font: 16px raleway, sans;
	height: 30px
}

nav a:hover {
	color: rgba(234,197,30,1);
	background: rgba(107,81,16,1);
	transition: color 0.3s, background 0.3s;
}

.kepek {
	display: block;
	max-width: 90%;
	margin: 10px auto;
}

@media (max-width: 1248px) {
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 1024px) {
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 800px) {
	.kepek {
		max-width: 90%;
		display: block;
	}
}

@media (max-width: 480px) {
	.kepek {
		max-width: 90%;
		display: block;
	}
}

main {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-weight: normal;
	color: rgb(102,0,0)
}

main p {
	text-align: center;
}

footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(102,0,0,1);
	border-top: 3px solid rgba(234,197,30,.8);
	height: 80px;
	box-shadow: 0px -5px 10px rgba(0,0,0,.3);
	padding-top: 2px;
	margin: 30px auto 10px auto;
	max-width: 1200px;
	font: 14px raleway, sans;
}

@media (max-width: 600px) {
	footer {
		height: auto;
		display: block;
		flex-direction: column
	}
}

@media (max-width: 480px) {
	footer {
		height: auto;
		display: block;
	}
}

footer a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: rgba(234,197,30,1);
}

footer p {
	padding: 0 10px;
	height: 18px
}

.copyright {
	display: flex;
	text-align: center;
	text-decoration: none;
	color: rgba(234,197,30,1);
	font-size: 13px;
}

@media (max-width: 600px) {
	.copyright {
		height: auto;
		display: block;
		flex-direction: column
	}
}

@media (max-width: 480px) {
	.copyright {
		height: auto;
		display: block;
	}
}

footer .copyright a:hover {
	color: rgb(255,255,255);
	transition: color 0.3s;
}

.social {
	display: flex;
	justify-content: center;
	height: 20px;
	color: rgba(102,0,0,1);
	margin-bottom: 10px
}

.icon-facebook:hover {
	color: rgb(255,255,255);
	transition: color 0.3s;
}

.icon-mail:hover {
	color: rgb(255,255,255);
	transition: color 0.3s;
}

@media (max-width: 600px) {
	.social {
		height: auto;
		padding: 0 0 10px 0
	}
}

@media (max-width: 480px) {
	.social {
		height: auto;
		padding: 0 0 10px 0
	}
}

.cumi {
	font-size: 70px;
	line-height: 1.5em
}